.modal-header
  %h1 New Task
= simple_form_for task, class: 'clearfix', remote: true do |f|
  .modal-body   
    = f.input :title
    = f.input :note
    = f.input :completed, as: :string, input_html: {class: 'datepicker'}
  .modal-footer    
    = f.submit 'Save', class: 'btn btn-primary'
